/* CSS declarations go here */
#loginbuttons{
    position:absolute;
    left:70%;
    top:0px;
}
body{background-color:whitesmoke}

.container {background-color: lightsteelblue; 
min-height:100%; }

#sharebuttons{
    margin-top: 10px;
    padding-top: 10px;
}