/* CSS declarations go here */
#loginbuttons{
    position:absolute;
    left:70%;
    top:10px;
}
body{background-color:whitesmoke}

.container {background-color: lightsteelblue; 
    margin-top: 10px;
min-height:100%;
    margin-bottom: 10px;
padding-bottom: 10px;}

.sharebuttons{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}