/* CSS declarations go here */
#loginbuttons{
    position:absolute;
    left:70%;
    top:10px;
}
body{background-color:whitesmoke}

.container {background-color: lightsteelblue; 
    margin-top: 10px;
min-height:100%;
    margin-bottom: 10px;
padding-bottom: 10px;}

.sharebuttons{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}
#filmNameInput {
	width: 100%;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#filmCard {
  	border: solid gray 1px ;
  	border-radius: 5px;
  	padding: 10px;
  	height: 201px;
  	background-color: white;
  }
  #imdbRating, #titleCard{
  	width: auto;
  	background: green;
  	font-size: 1.5em;
  	padding: 5px;
  	padding-left: 10px;
  	padding-right: 10px;
  }
  #genre, #titleCard{
  	margin-top: 10px;
  	margin-bottom: 10px;
  }
  #plot, #titleCard {
  	padding-bottom: 30px;
  }
  .selectButton, #titleCard{
  	width: 100%;
  }
  #row1 {
  	padding-top: 20px;
  }
  #row2 {
  	padding-top: 20px;
  }